@import "tailwindcss";
@import "./theme.css";
@import "./typography.css";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark-mode, .dark-mode *));
@custom-variant label (& [data-label]);
@custom-variant focus-input-within (&:has(input:focus));

@utility scrollbar-hide {
    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    &::-webkit-scrollbar {
        display: none;
        -webkit-appearance: none;
    }

    /* For IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@utility transition-inherit-all {
    transition-property: inherit;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

html,
body {
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
    -webkit-font-kerning: normal;
    font-kerning: normal;
}

/* Hide the default expand arrow on Safari.  */
details summary::-webkit-details-marker {
    display: none;
}

/* Hide default arrows from number inputs. */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* Hide the default clear button (X) from search inputs. */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-thin.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-thin.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-thin.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-thin-italic.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-thin-italic.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-thin-italic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-light.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-light.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-light-italic.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-light-italic.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-light-italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-regular.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-regular.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-regular-italic.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-regular-italic.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-regular-italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-semibold.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-semibold.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-semibold-italic.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-semibold-italic.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-semibold-italic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-bold.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-bold.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-bold-italic.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-bold-italic.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-bold-italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-extrabold.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-extrabold.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-extrabold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Proxima Nova";
    src:
        url("/fonts/proxima-nova/proxima-nova-extrabold-italic.woff2") format("woff2"),
        url("/fonts/proxima-nova/proxima-nova-extrabold-italic.woff") format("woff"),
        url("/fonts/proxima-nova/proxima-nova-extrabold-italic.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
